#header {
  background-color: #d8d8d7;
  min-height: 4vh;
  color: white;
  align-items: center;
}

.logo-header {
  width: 225px;
  height: 60px;
}

.logout-profile {
  line-height: 60px;
}

#footer {
  background-color: #d8d8d7;
  min-height: 11vh;
  font-size: 13px;
  padding: 2% 0;
}

#footer a {
  text-decoration: underline;
}

.header-simulation-right {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  justify-items: center;
}

.badge-home {
  font-size: 0.6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  border-radius: 100%;
  right: 5px;
  top: 9px;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.img-user {
  border-radius: 50%;
  margin-left: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  height: 30px;
  width: 30px;
}

.img-size-50 {
  width: 50px;
}

.img-circle {
  border-radius: 50%;
}

.message-dropdown,
.noti-dropdown {
  max-width: 300px;
  min-width: 280px;
  padding: 0;
}

@media (max-width: 576px) {
  .text-header {
    margin-bottom: 25px !important;
  }

  #footer {
    font-size: 12px;
    line-height: 3;
  }

  .div-show-rules {
    padding-left: 5px !important;
  }
}

